<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Souches </label>
        <select class="form-control form-control-lg" id="idCat" name="idCat"[(ngModel)]="IdSouche" (change)="onChange()">
        <option *ngFor="let sou of souches" value="{{sou.idSou}}">
        {{sou.nomSou}}
         </option>
        </select>
        </div>
    <div class="card shadow mb-4">
        <div class="card-body">
                <table class="table table-striped">
                    <tr> <th>Id</th><th>Nom Chat</th> <th>Prix prixAdoption</th> <th>Date de Naissance</th><th>souche</th> </tr>
                <tbody *ngFor="let chat of chats">
                    <tr>
                        <td>{{chat.idChat}}</td>
                        <td>{{chat.nomChat}}</td>
                        <td>{{chat.prixAdoption}}</td>
                        <td>{{chat.datenaissance | date:'dd/MM/yyyy'}}</td>
                        <td>{{chat.souche!.nomSou}}</td>
                        <!-- <td><a class="btn btn-danger" (click)="supprimerChat(chat)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateChat',chat.idChat]">Modifier</a></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>